NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyAbH_UQWoQnwgA_1-RcMOxEnZLVottWBGM"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="studyos-4d50d.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="studyos-4d50d"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="studyos-4d50d.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="934899860520"
NEXT_PUBLIC_FIREBASE_APP_ID="1:934899860520:web:1643f3e0fa47c6cc13211d"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-RN2CVTC1S5"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="https://studyos-4d50d-default-rtdb.firebaseio.com/"
NEXT_PUBLIC_FIREBASE_VAPID_KEY="BARq0qT6clNm4ks6Ey7N3X9OR8EkfjB-porBflYduEcTWg2lMFGz5PokHYQe3fk0iHvQOHu1JlAyl7MNBRHMeB8"
NEXT_PUBLIC_MIXPANEL_TOKEN="bae1022852df50e0100bbd389899bf36"
NEXT_PUBLIC_SENTRY_DSN=

FIREBASE_PROJECT_ID="studyos-4d50d"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-fbsvc@studyos-4d50d.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY=
FIREBASE_DATABASE_URL="https://studyos-4d50d-default-rtdb.firebaseio.com"
SESSION_SECRET=
GEMINI_API_KEY=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
